<h3 md-dialog-title>Add new</h3>
<div md-dialog-content>
    <md-grid-list cols="2" rowHeight="5:1">
        <md-grid-tile>
          <md-input-container class="full-width">
          <input mdInput placeholder="Actor Name" [formControl]="name">           
          <md-error *ngIf="name.hasError('required')">
            Actor name is <strong>required</strong>
          </md-error>
          </md-input-container>
        </md-grid-tile>
        <md-grid-tile>
          <!-- <md-input-container class="full-width">
          <input mdInput placeholder="Type" [formControl]="type">           
          <md-error *ngIf="type.hasError('required')">
              Type is <strong>required</strong>
          </md-error>
          </md-input-container> -->
          <div style="float:left;">
          <md-slide-toggle [(ngModel)]="sex">{{sex ? "Male" : "Female"}}</md-slide-toggle>
          </div>
        </md-grid-tile>
        <md-grid-tile>
          <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="picker" placeholder="Birth Date" [formControl]="dob">
            <md-error *ngIf="dob.hasError('required')">
                Birth date is
                <strong>required</strong>
            </md-error>
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker #picker></md-datepicker>
        </md-grid-tile>
        <md-grid-tile>
          <md-input-container class="full-width">
          <input mdInput  placeholder="Bio" [formControl]="bio">           
          <md-error *ngIf="bio.hasError('required')">
              Bio is <strong>required</strong>
          </md-error>
          </md-input-container>
        </md-grid-tile>
    </md-grid-list>

</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="OK">OK</button>
  <button md-button md-dialog-close="CANCEL">CANCEL</button>
</div>